<form id="descriptive_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"Resource")%>" method="post" data-resourceType="dc_asset" accept-charset="utf-8">
  <input type="hidden" name="_method" value="put"/>
  <input class="content_type" type="hidden" name="content_type" value="resource" />
  
  <p id="title_field" class="fedora-text-field"><%= fedora_field_label("DC", [:title], "Title:") %>
    <%= fedora_text_field(@document_fedora,"DC", [:title], :multiple=>false, :required=>true) %></p>
  <p id="language_field" class="fedora-text-field"><%= fedora_field_label("DC", [:language], "Language:") %>
    <%= fedora_text_field(@document_fedora, "DC", [:language], :multiple=>false, :required=>false ) %></p>  
    
  <fieldset id="contributor_fields">
    <legend>Contributors</legend>
    <p class="legend-caption">An individual or organizational contributor to the work.</p>
    <%= render :partial => "contributors/dc" %>
  </fieldset>

  <fieldset id="topic_fields">
    <legend>Topics</legend>
    <p class="legend-caption">Add topics that describe the work.</p>
      <p class="fedora-text-field"><%= fedora_text_field(@document_fedora,"DC", [:subject], :multiple=>true, :required=>false) %></p>
      <p class="fedora-text-field-add"><%= fedora_text_field_insert_link "DC", [:subject] %></p>
  </fieldset>
  
  <%= submit_tag 'Save Description', {:id => "submitDescription"} %>
</form>
