<%- field_tag_options = defined?(uploader_options) ? uploader_options : {:id => @document_fedora.pid} %>
<%- container_content_type_param = defined?(container_content_type) ? "?container_content_type=#{container_content_type}" : "" %>
<%= render :partial => "resources/show_content" %>
<div id="uploader-contents">
    
    <!-- This form will be progressively enhanced by the Fluid Uploader component. -->    
	<%= form_tag(resource_path(params[:id]), :method=>"put",:enctype=>"multipart/form-data", :class=>"uploader-form step") do -%>
        <%= hidden_field_tag("content_type", "resource") %>
        <p>Browse to upload and replace file content.</p>
        <%= file_field_tag "Filedata", field_tag_options %>
	    <p><%= submit_tag(submit_name)%></p>
    <%- end -%>
</div>
