<div class="descMetadata metadata-section">
  <h2 class="section-title">Description</h2>
  <div class="descMetadata metadata-subsection">
    <h3 class="subsection-title">DC Description</h3>
    <dl class="collection-metadata-list">
		<%= display_ds_values_as_dl_element("DC", :title, "Title") %>
		<%= display_ds_values_as_dl_element("DC", :identifier, "Identifier") %>
		<%= display_ds_values_as_dl_element("DC", :description, "Description") %>
		<%= display_ds_values_as_dl_element("DC", :language, "Language") %>
		<%= display_ds_values_as_dl_element("DC", :format, "Format") %>
		<%= display_ds_values_as_dl_element("DC", :dc_type, "Type") %>
	</dl>
  </div>
</div>
